/.vscode
/RNA_converted
/appended.txt
/bashloop.sh
/classnotes
/conditioner.sh
/conditioning.sh
/doppelganger_names.txt
/example.fasta
/example.zip
/example2.fasta
/fruititerate.sh
/fruityarray.sh
/fullname.sh
/hello2.txt
/hellworld.txt
/internals.sh
/kite_data.txt
/kite_data.txt.1
/lab10
/lab3.txt
/lab4.tsv
/metaome_stats
/midterm
/name_game.csv
/name_game.tsv
/new_name_game.csv
/newexample.fasta
/newnamegame.csv
/newrhyme.tsv
/pUC19c.fasta:Zone.Identifier
/proteinID.sh
/readcommand.sh
/rhyme.txt
/screengrab.jpg:Zone.Identifier
/script.sh
/scripting.sh
/sed
/seqcount.sh
/squid
/totsv.sh
/transeq.1e.gz
/transeq.1e.gz:Zone.Identifier
/twopart.txt
/whileloop.sh